.calendar.monthly{ :data => { :'base-date' => calendar.base_date }}
  %h1= t('date.abbr_month_names')[calendar.base_date.month]
  = link_to '', previous_month_path(calendar), :class => 'navigation previous'
  = link_to '', next_month_path(calendar), :class => 'navigation next'
  = link_to '', today_path(calendar), :class => 'navigation today'
  %ul.dates
    - (calendar.start_on .. calendar.start_on + 6.days).each do |date|
      %li.date.wday_header= t('date.abbr_day_names')[date.wday]
    = render :partial => 'event_cal/date', :collection => calendar.dates, :locals => { :calendar => calendar }
